In [1]:
import numpy as np
import pandas as pd
import os
import json
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
#import missingno as msno
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [2]:
os.chdir('D:\\My Documents\\Ryerson\\CIND820++\\yelpds')
cwd = os.getcwd()
print(cwd)

D:\My Documents\Ryerson\CIND820++\yelpds

In [3]:
businessCSV = pd.read_csv('BusinessDF.csv')

In [4]:
reviewCSV = pd.read_csv('reviewDF.csv')

In [8]:
#rename review col "stars"

reviewCSV.rename(columns=({"stars":"reviews_stars"}), inplace=True)
reviewCSV.to_csv("ReviewDF.csv", index=False)

In [7]:
#rename business col "stars" as well

businessCSV.rename(columns=({"stars":"business_stars"}), inplace=True)
businessCSV.to_csv("BusinessDF.csv", index=False)

### Both files have been read in here as csv. 
### Now I'll merge them

In [9]:
# using merge function by setting how='inner'

output1 = pd.merge(businessCSV, reviewCSV, 
                   on='business_id', 
                   how='inner')
  
output1.to_csv("MergedDF.csv", index=False)

In [10]:
mergedDF = pd.read_csv("MergedDF.csv")

In [11]:
mergedDF.head()

,business_id,name,city,state,business_stars,review_count,attributes,categories,reviews_stars,useful,text
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,CO,4.0,86,"{'RestaurantsTableService': 'True', 'WiFi': ""u...","Gastropubs, Food, Beer Gardens, Restaurants, B...",5.0,1,Stopped in on a busy Friday night. Despite the...
1,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,CO,4.0,86,"{'RestaurantsTableService': 'True', 'WiFi': ""u...","Gastropubs, Food, Beer Gardens, Restaurants, B...",2.0,0,Went there about 1 PM on a Monday. It wasn't ...
2,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,CO,4.0,86,"{'RestaurantsTableService': 'True', 'WiFi': ""u...","Gastropubs, Food, Beer Gardens, Restaurants, B...",5.0,0,This was the place the be on Friday Night! If ...
3,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,CO,4.0,86,"{'RestaurantsTableService': 'True', 'WiFi': ""u...","Gastropubs, Food, Beer Gardens, Restaurants, B...",4.0,0,Went to this place with my family over the wee...
4,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,Boulder,CO,4.0,86,"{'RestaurantsTableService': 'True', 'WiFi': ""u...","Gastropubs, Food, Beer Gardens, Restaurants, B...",4.0,0,"Stopped on a midweek afternoon, and so glad th..."

In [12]:
mergedDF.describe()

       business_stars  review_count  reviews_stars        useful
count    2.618511e+06  2.618511e+06   2.618511e+06  2.618511e+06
mean     3.809849e+00  3.483745e+02   3.768980e+00  8.943560e-01
std      7.675753e-01  6.633345e+02   1.547977e+00  3.225354e+00
min      1.000000e+00  5.000000e+00   1.000000e+00  0.000000e+00
25%      3.500000e+00  4.700000e+01   3.000000e+00  0.000000e+00
50%      4.000000e+00  1.420000e+02   5.000000e+00  0.000000e+00
75%      4.500000e+00  3.720000e+02   5.000000e+00  1.000000e+00
max      5.000000e+00  9.185000e+03   5.000000e+00  4.460000e+02